{{#if featured_results}}
<div style="margin-top: 30px;">
    <ul class="list-group">
        <li class="list-group-item list-group-heading">{{__ "Featured articles"}}</li>
        {{#each featured_results}}
            {{#if this.kb_permalink}}
                <li class="list-group-item"><h5><a href="{{app_context}}/{{@root.config.settings.route_name}}/{{this.kb_permalink}}">{{this.kb_title}}</a></h5></li>
            {{else}}
                <li class="list-group-item"><h5><a href="{{app_context}}/{{@root.config.settings.route_name}}/{{this._id}}">{{this.kb_title}}</a></h5></li>
            {{/if}}
        {{/each}}
    </ul>
</div>
{{/if}}