<div class="row">
	<form action="{{app_context}}/search" id="search_form" method="post">
        <div class="col-sm-10 col-sm-offset-1 search_bar">
			<div class="input-group">
				<input type="text" name="frm_search" id="frm_search" autocomplete="off" class="form-control input-lg" placeholder="{{__ "Search the knowledge base"}}">
				<span class="input-group-btn">
					<button class="btn btn-success btn-lg" id="btn_search" type="submit">{{__ "Search"}}</button>
				</span>
			</div>
            {{#ifCond config.settings.typeahead_search '===' true}}
            <div id="searchResult" class="hidden col-lg-12">
                <ul class="list-group searchResultList"></ul>
            </div>
            {{/ifCond}}
		</div>
	</form>
</div>
<div class="row">
    {{#ifBoth config.settings.show_featured_articles config.settings.show_featured_in_article}}
        <div class="col-sm-3 hidden-xs">
            {{> asideSameTopicList}}
            {{> asideFeaturedList}}
            {{> asideTopicList}}
        </div>
        <div class="col-sm-9">
    {{else}}
        <div class="col-sm-12">
    {{/ifBoth}}
        <h5 style="padding-bottom: 0;padding-top: 15px">

        {{#ifCond result.kb_topics_full.length '>' 0}}
            Rubriques :
        {{/ifCond}}

        {{#each result.kb_topics_full}}
            <a class="badge badge-topic" href="{{app_context}}/topic/{{this.id}}">{{this.name}}</a>
        {{/each}}

        </h5>
		<h1 style="padding-bottom: 25px;padding-top: 0;">{{result.kb_title}}</h1>
		<div class="body_text">
            {{{kb_body}}}
        </div>
        {{#if config.settings.allow_voting}}
            <div class="row">
                <div class="voting text-right col-lg-12">
                    <span>{{__ "Was this article helpful?"}}</span>
                    <button id="btnUpvote" class="btn btn-sm btn-default"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
                    <button id="btnDownvote" class="btn btn-sm btn-default"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></button>
                    <span>
                        <strong>{{__ "Votes"}}:</strong>
                        {{#if result.kb_votes}}
                            {{result.kb_votes}}
                        {{else}}
                            0
                        {{/if}}
                    </span>
                </div>
            </div>
        {{/if}}
		{{#if config.settings.show_kb_meta}}
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary" style="margin-top: 35px;">
                        <div class="panel-heading">{{__ "Article details"}}:</div>
                        <div class="panel-body">
                            <h5 class="col-sm-12 col-lg-6">
                                <strong>{{__ "Published date"}}:</strong> {{format_date result.kb_published_date}}
                            </h5>
                            <h5 class="col-sm-12 col-lg-6">
                                <strong>{{__ "Last updated"}}:</strong> {{format_date result.kb_last_updated}}
                                {{#if result.kb_last_update_user}}
                                    <span class="text-info">
                                        {{#ifCond config.settings.show_author_email '===' false}}
                                            ({{removeEmail result.kb_last_update_user}})
                                        {{else}}
                                            ({{result.kb_last_update_user}})
                                        {{/ifCond}}
                                    </span>
                                {{/if}}
                            </h5>
                            {{#if result.kb_permalink}}
                                <h5 class="col-sm-12 col-lg-6">
                                    <strong>{{__ "Share article"}}:</strong>&nbsp;<a href="mailto:?subject={{result.kb_title}}&body={{encodeURI current_url}}/{{@root.config.settings.route_name}}/{{encodeURI result.kb_permalink}}" target="_top"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                                </h5>
                            {{else}}
                                <h5 class="col-sm-12 col-lg-6">
                                    <strong>{{__ "Share article"}}:</strong>&nbsp;<a href="mailto:?subject={{result.kb_title}}&body={{encodeURI current_url}}/{{@root.config.settings.route_name}}/{{result._id}}" target="_top"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                                </h5>
                            {{/if}}
                            {{#if result.kb_author}}
                                <h5 class="col-sm-12 col-lg-6">
                                    <strong>{{__ "Author"}}:</strong> <span class="text-info">{{result.kb_author}} {{#ifCond config.settings.show_author_email '===' true}}({{result.kb_author_email}}){{/ifCond}}</span>
                                </h5>
                            {{/if}}
                            {{#if result.kb_permalink}}
                            <h5 class="col-sm-12 col-lg-6">
                                <strong>{{__ "Permalink"}}:</strong> <a href="{{current_url}}/{{@root.config.settings.route_name}}/{{result.kb_permalink}}" target="_blank">{{current_url}}/{{@root.config.settings.route_name}}/{{result.kb_permalink}}</a>
                            </h5>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
		{{/if}}
	</div>
    <div class="col-sm-12 visible-xs">
        {{> asideSameTopicList}}
        {{> asideFeaturedList}}
        {{> asideTopicList}}
    </div>

    <input type="hidden" id="doc_id" value={{result._id}}>
</div>
